<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main"><i class="icon-screen-desktop"></i> INÍCIO</a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.eventos.novo_evento"><i class="icon-plus"></i> NOVO EVENTO</a>
            </li>
            <!--/////-->
             <!--
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.eventos')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.eventos')}" href="#"><i class="icon-puzzle"></i> EVENTOS</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.eventos.ver_eventos"><i class="icon-puzzle"></i> Ver Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.eventos.novo_evento"><i class="icon-puzzle"></i> Novo Evento</a>
                    </li>
                </ul>
            </li>
             -->
            <!-- ///////// -->
            <div ng-show="onEvent">
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.todos.ver_todos"><i class="icon-notebook"></i> BLOCO DE NOTAS</a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.compras.ver_compras"><i class="icon-bag"></i> COMPRAS</a>
            </li>
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.checklist.ver_checklist"><i class="icon-list"></i> CHECKLIST</a>
            </li>
            <!--
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" href="" ng-click="cronSelector()"><i class="icon-calendar"></i> CRONOGRAMA</a>
            </li>
            -->
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.receitas_despesas.ver_receitas_despesas"><i class="fa fa-money"></i> RECEITAS/DESPESAS</a>
            </li>         
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.fornecedores.ver_fornecedores"><i class="icon-basket-loaded"></i> FORNECEDORES</a>
            </li>         
            <li class="divider"></li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.rsvp.ver_confirmacao"><i class="icon-envelope"></i> RSVP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.reunioes.ver_reunioes"><i class="icon-clock"></i> REUNIÕES</a>
            </li>
            </div>
            <!-- ///////// -->
            <!--            
            <li class="divider"></li>
            <li class="nav-title">
                UI Elements
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.components')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.components')}" href="#"><i class="icon-puzzle"></i> Components</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.buttons"><i class="icon-puzzle"></i> Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.social-buttons"><i class="icon-puzzle"></i> Social Buttons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.cards"><i class="icon-puzzle"></i> Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.forms"><i class="icon-puzzle"></i> Forms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.switches"><i class="icon-puzzle"></i> Switches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.components.tables"><i class="icon-puzzle"></i> Tables</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.icons')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.icons')}" href="#"><i class="icon-star"></i> Icons</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.fontawesome"><i class="icon-star"></i> Font Awesome</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="app.icons.simplelineicons"><i class="icon-star"></i> Simple Line Icons</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.widgets"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.charts"><i class="icon-pie-chart"></i> Charts</a>
            </li>
            <li class="divider"></li>
            <li class="nav-title">
                Extras
            </li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('app.pages')}">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('app.pages')}" href="#"><i class="icon-star"></i> Pages</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.login"><i class="icon-star"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.register"><i class="icon-star"></i> Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.404"><i class="icon-star"></i> Error 404</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" ui-sref-active="active" ui-sref="appSimple.500"><i class="icon-star"></i> Error 500</a>
                    </li>
                </ul>
            </li>
            -->
        </ul>
    </nav>
</div>
