 <div class="item text-center med_red">
      <span class="newIt" ><strong>Hora da festa: {{eventoDaVez.evtHour}}</strong></span>
</div>
<div class="list-group col-md-12">
	<div class="list-group-item" ng-repeat="task in listFestaKid | orderBy: 'time'">
		<div class="row">
			<div class="col-md-8 col-xm-8 newIt" ng-click="!asInvited && doneClicked(task)" ng-class="{complete: task.done == true}">
			<div>
			<i class="fa fa-square-o fa-lg chegaprala" ng-show="!task.done"></i>
			<i class="fa fa-check-square-o fa-lg chegaprala" ng-show="task.done"></i>
			<span class="boldtop" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span>   |   
				<span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
			</div>
			</div>
			<div class="col-md-4 col-xm-4 text-right" ng-hide="asInvited">
			<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#modCronoWed" ng-click="editTask(task)"><i class="fa fa-pencil  fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(task)" ng-confirm-click="Tem certeza de que deseja deletar este evento?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
			</div>
		</div>
	</div>
</div>