<div class="list-group col-md-12">
	<div class="list-group-item" ng-repeat="task in listCerimonia | orderBy: 'time'">
		<div class="row">
			<div class="col-md-7 col-xs-7" ng-click="!asInvited && doneClicked(task)" ng-class="{complete: task.done == true}">
				<span class="boldtop"><strong>{{task.item}}</strong></span>   |   
				<span>{{task.time | date: "HH:mm"}}</span>
			</div>
			<div class="col-md-5 col-xs-5 text-right" ng-hide="asInvited">
				<button type="button" class="btn btn-warning btn-circle" data-toggle="modal" data-target="#newSong" ng-show="task.mus == true" ng-click="bringTheSong(task)"><i class="fa fa-music fa-lg"></i></button> <button type="button" class="btn btn-success btn-circle" data-toggle="modal" data-target="#newBestMan" ng-show="task.bm == true" ng-click="bringTheMen(task)"><i class="icon-user-follow fa-lg"></i></button> | <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#modCronoWed" ng-click="editTask(task, false)"><i class="fa fa-pencil fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(task)" ng-confirm-click="Tem certeza de que deseja deletar este evento?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
			</div>
		</div>
		<div class="baixim" ng-if="task.padrinhos && task.bm">
              <div ng-show="!task.done" >
		        <div class="list-group-item nadielongo" ng-repeat="item in showTheBest">
		            <div class="row">
		            	<div class="col-md-8 ml-md-auto cinzito">
	              		<div class="row">
		              		<div class="col-md-8 distantado">
			              	  <div style="display: inline;">
		                           <i class="icon-user-female minus chegaprala" ng-show="item.choice == 'noiva'"></i>
		                           <i class="icon-user chegaprala" ng-show="item.choice == 'noivo'"></i>
		                      </div> 
		                      <div style="display: inline;">
		                        <strong>{{item.nomeDele}}</strong> | {{item.phoneDele}} / <strong>{{item.nomeDela}}</strong> | {{item.phoneDela}}
		                      </div>
		                     </div>
		                     <div class="col-md-4 text-right distantado">
		                     	<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#modBestMan" ng-click="improveTheBest(item)"><i class="fa fa-pencil fa-lg"></i></button> | <button type="button" confirmed-click="notSoBest(item)" ng-confirm-click="Tem certeza de que deseja deletar estes padrinhos?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
		                     </div>
		                </div>
	                    </div>
	              	</div>
	              </div>
              </div>
        </div>
        <!-- musicas -->
		<div class="baixim" ng-if="task.playlist && task.mus">
              <div ng-show="!task.done" >
		        <div class="list-group-item nadielongo" ng-repeat="song in showTheSongs">
		            <div class="row">
		            	<div class="col-md-8 ml-md-auto cinzito">
	              		<div class="row">
		              		<div class="col-md-8 distantado">
			                      <div style="display: inline;">
			                           <i class="icon-music-tone chegaprala"></i>
			                      </div>
			                      <div style="display: inline;">
			                        {{song.title}} / {{song.autor}}
			                      </div>
		                     </div>
		                     <div class="col-md-4 text-right distantado">
		                     	<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#modSong" ng-click="improveTheSong(song)"><i class="fa fa-pencil fa-lg"></i></button> | <button type="button" confirmed-click="notSoSong(song)" ng-confirm-click="Tem certeza de que deseja deletar esta música?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
		                     </div>
		                </div>
	                    </div>
	              	</div>
	              </div>
              </div>
        </div>
	</div>
</div>