th, td {

    vertical-align: middle !important;
}

.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 50px;
}

.modal-body {
	line-height: 2 !important;
}

.big_red{
	color: #ae5051 !important;
	font-weight:900;
	text-shadow: none;
	line-height: 2.5
}

.big_red_evt{
	color: #ae5051 !important;
	font-weight:900;
	text-shadow: none;
	width: auto ! important;
}

.englobaMinusTime{
	background-color: #eee;
}

.list-group-item{
	border: none !important;
}

.card-rouge{
	background-color: #a2babb !important;
}

a:hover, a:visited {
	text-decoration: none !important;
}

.complete {
  text-decoration: line-through;
  color: #ababab;
}

.newIt{
  	display: inline-block !important;
 	vertical-align: middle !important;
 	 font-size: 15px;
 	 margin-top:5px;
}

.boldtop{
  	display: inline-block !important;
 	 font-size: 15px;
}

.chegaprala{
	padding-right: 10px;
}

.complete {
  text-decoration: line-through;
  color: #ababab;
}

.noazul{
	color: #a2babb ! important;
}

.novermelho{
	color: #ae5051 !important;
}

.superentered{
	font-size: 30px ! important;
}

.goose{
	padding-top: 10px;
}

.tip-link{
		font-size: 20px ! important;
}

.double-goose{
	padding-top: 30px;
}

.nadielongo{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	padding-right: 0 !important;

}

.cinzito{
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	background-color: rgba(86,61,124,.15);
}
.distantado{
	line-height: 15px !important;
	vertical-align: middle !important;
}

.baixim{
	padding-top: 15px !important;
}

.confirmado{
	color: #a2babb ! important;
}

.card-body .text-muted, .card-block.text-muted a{
    color: #fff !important;
  }

  .passado{
    opacity: 0.5;
  }

  .title .title-center .header-item{
    color: #ffffff !important;
  }

  .dark-bg h2{
    color: #444 !important;
  }

  .dark-bg h6{
    color: #444 !important;
  }

  .white-so{
    color: #fff !important;
  }

  .encolhido{
    margin-left: 8px;
    margin-right: 8px;
  }

  .newgray{
    color: #444 !important;
  }

  .noback{
    background-color: transparent !important;
    color: #444 !important;
  }

  .log-list{
    padding-top: 10px;
  }

  .item-log{
    background-color: transparent !important;
  }

  .bottom-plus{
    padding-bottom: 10px;
  }

  .ultra-plus{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align:middle;
  }

  .button-positive-900{
    background-color: #405062;
  }

  .positive-900{
   color: #405062;
  }

  .englobaTime h6{
    color: #fff !important;
  }

  .branquito{
    background-color: transparent !important;
  }

  .encolhido .branquito{
    background-color: transparent !important;
  }

  .btn-primary{
	  background-color: #a2babb ! important;
	  border-color: #a2babb ! important;

  .card-rouge, {
	color: #fff !important;
}

h1.text-muted.text-right.mb-2{
	  color: #fff !important;
  }

  .text-muted {
    color: #ffffff !important;
}

/** mudar cabeçalho **/

.app-header.navbar{
  height: 75px !important;
}

.header-fixed .app-body{
  margin-top: 75px !important;
}

.app-header.navbar .navbar-brand{
  height: 75px !important;
  background-image: url("../img/logo-interno.png");
  background-size: 100px auto;
}

.card-block .text-muted{
  color: #fff !important;
}

.white{
  color: #fff !important;
}

.linkDisabled {
  opacity: 0.1 !important;
}

.bglizer{
  background-image: url("../img/fundo_claro_admin.jpg") !important;
  background-repeat:no-repeat !important;
  background-size:cover !important;
}