  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Editar Item de Checklist</h5>
        <button type="button" class="close" data-dismiss="modal" ng-click="notUpdateTask(modifItem)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
	  	<div class="row goose">
	  		<div class="col-md-12">
	  			<input class="form-control" type="text" placeholder="O que tenho que Fazer?" ng-model="modifItem.item" require>
	  		</div>
	  	</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="notUpdateTask(modifItem)">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="updateTask()">Editar</button>
      </div>
    </div>
  </div>