  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Nova Música</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
	  <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row goose">
						<div class="col-md-2 col-form-label big_red_evt"><i class="fa fa-music fa-lg"></i></div>
						<div class="col-md-4"><input class="form-control" type="text" placeholder="Nome da música" ng-model= parade.title></div>
						<div class="col-md-2 col-form-label big_red_evt">Momento</div>
						<div class="col-md-4"><input class="form-control" type="text" placeholder="Momento" ng-model= parade.autor></div>
				</div>
			</div>
			</div>
	  </div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="correctSong()">Inserir</button>
      </div>
  </div>
  </div>