  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" ng-show="actualTab == 'party'">Modifique Reunião</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="notUpdateTask(modifItem)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
        <div class="list-group-item">
            <div class="form-group row">
                    <label class="col-sm-2 col-form-label big_red_evt">Local:</label>
                <label class="col-sm-10">
                    <input type="text" placeholder="Local da reunião" ng-model="modifItem.local" require>
                  </label>
            </div>
          </div>
          <div class="list-group-item">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label big_red_evt">Dia:</label>
              <div class="col-sm-3">
                  <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY" ng-change="seeChange01()">
               </div>
            </div>
          </div>
          <div class="list-group-item">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label big_red_evt">Hora:</label>
                  <div class="col-sm-3">
                      <input type="time" ng-model="itemTime.value" date-format="HH:MM" ng-change="seeChange01()">
                    </div>
                </div>
              </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="notUpdateTask(modifItem)">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="updateTask()">Inserir</button>
      </div>
    </div>
  </div>