  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Novo Fornecedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="notUpdateTask(modifItem)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
           <div class="list-group-item">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label big_red_evt">Nome</label>
              <div class="col-sm-10">
                <input type="text" placeholder="Nome" ng-model="modifItem.nome" required>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label big_red_evt">Telefone</label>
              <div class="col-sm-10">
                <input type="tel" placeholder="Telefone" ng-model="modifItem.tel" required>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="form-group row">
              <label class="col-sm-2 col-form-label big_red_evt">Email</label>
              <div class="col-sm-10">
                <input type="email" placeholder="Email" ng-model="modifItem.email">
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label big_red_evt">Tipo de Fornecedor</label>
              <div class="col-sm-8">
                <select ng-model="mySelect" ng-change="changeEventType(mySelect)" data-ng-options="tipo.tips for tipo in tipolog">
                </select>
              </div>
            </div>
          </div>
          <div class="list-group-item" ng-hide="evtPreCad">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label big_red_evt" style="font-weight: 900" >Que outro tipo de Fornecedor?</label>
              <div class="col-sm-8">
                <input type="text" placeholder="Descreva aqui" ng-model="modifItem.tipo">
              </div>
            </div>
          </div>       
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="notUpdateTask(modifItem)">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="updateTask()">Inserir</button>
      </div>
    </div>
  </div>