  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Editar Padrinhos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="releasetheBest()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
	  <div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="row goose">
						<div class="col-md-1 col-form-label big_red_evt"><i class="icon-user-follow"></i></div>
						<div class="col-md-5"><input class="form-control" type="text" placeholder="Padrinho" ng-model= casale.nomeDele></div>
						<div class="col-md-1 col-form-label big_red_evt text-right"><i class="icon-phone"></i></div>
						<div class="col-md-5"><input class="form-control" type="tel" placeholder="Telefone" ng-model= casale.phoneDele></div>
					</div>
					<div class="row goose">
						<div class="col-md-1 col-form-label big_red_evt"><i class="icon-user-follow"></i></div>
						<div class="col-md-5"><input class="form-control" type="text" placeholder="Madrinha" ng-model= casale.nomeDela></div>
						<div class="col-md-1 col-form-label big_red_evt text-right"><i class="icon-phone"></i></div>
						<div class="col-md-5"><input class="form-control" type="tel" placeholder="Telefone" ng-model= casale.phoneDela></div>
					</div>
					<div class="row goose">
						<div class="col-md-6">
						      <div  ng-click="defineLados('noivo')">
						      Noivo &nbsp;&nbsp;&nbsp; <i class="fa fa-square-o fa-lg" ng-show="casale.choice != 'noivo'"></i>
						            <i class="fa fa-check-square-o fa-lg" ng-show="casale.choice == 'noivo'"></i>
						      </div> 
						</div>
						<div class="col-md-6">
						      <div  ng-click="defineLados('noiva')">
						      Noiva &nbsp;&nbsp;&nbsp; <i class="fa fa-square-o fa-lg" ng-show="casale.choice != 'noiva'"></i>
						            <i class="fa fa-check-square-o fa-lg" ng-show="casale.choice == 'noiva'"></i>
						      </div>
						</div>
					</div>
				</div>
			</div>
			</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="releasetheBest()">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="correctBest()">Inserir</button>
      </div>
    </div>
  </div>