  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Importar Lista de Convidados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <div class="modal-body">
      <div class="row goose">
        <div class="col-md-12">
          <div ng-file-reader on-readed="onReaded( event, file )" read-method="readMethod" multiple=false readEncoding="ISO-8859-1" accept="csv"></div>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="importGuests()">Inserir</button>
      </div>
    </div>
  </div>