  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
	      <h5 class="title texto-branco big_red">Marcar Reunião</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="removeTaskNotSaved()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
            <div class="list-group-item">
                    <div class="form-group row">
                            <label class="col-sm-2 col-form-label big_red_evt">Local:</label>
                        <label class="col-sm-10">
                         <input type="text" placeholder="Local da reunião" ng-model="newTask.local" require>
                        </label>
                    </div>
                  </div>
                  <div class="list-group-item">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label big_red_evt">Dia:</label>
                      <div class="col-sm-3">
                            <input type="date" ng-model="itemDate.value" date-format="DD/MM/YYYY" ng-change="seeChange01()">
                       </div>
                    </div>
                  </div>
                  <div class="list-group-item">
                        <div class="form-group row">
                          <label class="col-sm-2 col-form-label big_red_evt">Hora:</label>
                          <div class="col-sm-3">
                                <input type="time" ng-model="itemTime.value" date-format="HH:MM" ng-change="seeChange01()">
                            </div>
                        </div>
                      </div>

	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="removeTaskNotSaved()">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="saveTask()">Inserir</button>
      </div>
    </div>
  </div>



