  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Novo Convidado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
      <div class="row goose">
        <div class="col-md-12">
          Insira abaixo o nome do convidado e o número de convites a serem confirmados
        </div>  
      </div>
	  	<div class="row goose">
	  		<div class="col-md-8">
	  			<input class="form-control" type="text" placeholder="Digite o nome" ng-model="newGuest.nome" require>
	  		</div>
        <div class="col-md-4">
          <input class="form-control" type="number" ng-model="newGuest.convidados">
        </div>
	  	</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveTask()">Inserir</button>
      </div>
    </div>
  </div>