  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" id="exampleModalLabel">Nova Visita Técnica</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
	  	<div class="row goose">
	  		<div class="col-md-12">
	  			<input class="form-control" type="text" placeholder="Item da Visita" ng-model="newTask.item" require>
	  		</div>
	  	</div>
      <div class="row goose">
        <div class="col-md-12">
          <input class="form-control" type="textarea" style="min-height: 180px;" placeholder="Descrição do Item" ng-model="newTask.descricao" require>
        </div>
      </div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="saveTask()">Inserir</button>
      </div>
    </div>
  </div>