 <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title big_red" ng-show="newBudget.lancado == 'despesa'">Nova Despesa</h5>
        <h5 class="modal-title big_red" ng-show="newBudget.lancado == 'receita'">Nova Receita</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
	  <div class="modal-body">
	  	<div class="row goose">
	  		<label class="col-md-2 col-form-label big_red_evt">Valor</label>
	  		<div class="col-md-10">
	  			<input type="text"  class="superentered" ng-class="{noazul: budget.lancado === 'receita', novermelho: budget.lancado === 'despesa'}" placeholder="0,00" ng-model="newBudget.valor" ui-number-mask="2">
	  		</div>
	  	</div>
	  	<div class="row goose">
		  	<label class="col-md-2 col-form-label big_red_evt">Descrição</label>
	  		<div class="col-md-10">
	  			<input type="text" placeholder="Descriçao" ng-model="newBudget.descrip" >
	  		</div>
	  	</div>
	  </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" ng-click="saveTask()">Inserir</button>
      </div>
	</div>
</div>