<div class="animated fadeIn" ng-init="starter()">
	<div class="container">
		<div class="row" style="margin-bottom: 10px; margin-left: 0;">	
			<div class="list-group col-md-11">
			<h3>Cronograma de {{globalEvtName}}</h3>
			</div>
			<div class="list-group col-md-1 text-right">
			<button type="button" ng-hide="asInvited" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#newCrono" ng-click="showTaskPrompt()"><i class="fa fa-plus fa-lg"></i></button>
			</div>
		</div>
			<div class="card">
				<div class="card-body">
					<div class="list-group col-md-12">
						<div class="list-group-item" ng-repeat="task in listCheck | orderBy: 'time'">
							<div class="row">
								<div class="col-md-8 col-xm-8 newIt" ng-click="!asInvited && doneClicked(task)" ng-class="{complete: task.done == true}">
								<div>
								<i class="fa fa-square-o fa-lg chegaprala" ng-show="!task.done"></i>
	    						<i class="fa fa-check-square-o fa-lg chegaprala" ng-show="task.done"></i>
	    						<span class="boldtop" ng-class="{complete: task.done == true}"><strong>{{task.item}}</strong></span>   |   
	      						<span ng-class="{complete: task.done == true}">{{task.time | date: "HH:mm"}}</span>
								</div>
								</div>
								<div class="col-md-4 col-xm-4 text-right" ng-hide="asInvited">
								<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#modCrono" ng-click="editTask(task)"><i class="fa fa-pencil  fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(task)" ng-confirm-click="Tem certeza de que deseja deletar este evento?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
<!-- Modal inserção -->
<div class="modal fade" id="newCrono" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/newCrono.html'"></div>
</div>
<!-- Modal correção -->
<div class="modal fade" id="modCrono" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/modCrono.html'"></div>
</div>