<div class="animated fadeIn" ng-init="starterKid()">
	<div class="container">
		<div class="row" style="margin-bottom: 10px; margin-left: 0;">	
			<div class="list-group col-md-11">
			<h3>Cronograma de {{globalEvtName}}</h3>
			</div>
			<div class="list-group col-md-1 text-right">
			<button type="button" ng-hide="asInvited" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#newCronoWed" ng-click="showTaskPrompt()"><i class="fa fa-plus fa-lg"></i></button>
			</div>
		</div>
			<div class="card">
      <div class="card-block">
<!-- Nav tabs -->
      <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
          <a class="nav-link tip-link" ng-class="{ active: isSet(1) }" href="" ng-click="setTab(1)">Pré-festa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link tip-link"  ng-class="{ active: isSet(2) }" href="" ng-click="setTab(2)">Festa</a>
        </li>
      </ul>
      <div class="double-goose" ng-show="isSet(1)">
        <div ng-include src="'views/planner/includes/infantil/prelista.html'"></div>
      </div>
      <div class="double-goose" ng-show="isSet(2)">
        <div ng-include src="'views/planner/includes/infantil/festalista.html'"></div>
      </div>
  </div>
  </div>
</div>
</div>    
<!-- Modal inserção -->
<div class="modal fade" id="newCronoWed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/insertcronowed.html'"></div>
</div>
<!-- Modal correção -->
<div class="modal fade" id="modCronoWed" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/modcronowed.html'"></div>
</div>