<div class="app flex-row align-items-center bglizer" style="background-image: url('../img/fundo_claro_admin.jpg'); background-repeat:no-repeat; background-size:cover !important;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                            <div class="text-center"><img src="/img/logo.png" style="width: 20%; height: auto; margin-bottom: 20px;" alt=""></div>
                <div class="card-group mb-0">
                    <div class="card p-4">
                        <div class="card-block">
                            <h2>Login</h2>
                            <p class="text-muted">Faça login em sua conta</p>
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i>
                                </span>
                                <input type="text" class="form-control" placeholder="Email" ng-model="user.email">
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i>
                                </span>
                                <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="button" class="btn btn-primary px-4" ng-click="login_simples(user)">Login</button>
                                </div>
                                <!--
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">Forgot password?</button>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                    <!--
                    <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
                        <div class="card-block text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
