
<div class="animated fadeIn" ng-init="starter()">
		<div class="row">
			<div class="container">
			<div class="row" style="margin-bottom: 10px; margin-left: 0;">	
				<div class="list-group col-md-11">
				<h3>Anotações em {{globalEvtName}}</h3>
				</div>
				<div class="list-group col-md-1 text-right">
				<button type="button" ng-hide="asInvited" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#newTodo" ng-click="showTaskPrompt()"><i class="fa fa-plus fa-lg"></i></button>
				</div>
			</div>
				<div class="card">
					<div class="card-body">
						<div class="list-group col-md-12">
							<div class="list-group-item" ng-repeat="task in listCheck">
								<div class="row">
									<div class="col-md-10 col-xm-10 newIt" ng-click="!asInvited && doneClicked($index, task)" ng-class="{complete: task.done == true}">
									<div>
									<i class="fa fa-square-o fa-lg chegaprala" ng-show="!task.done"></i>
            						<i class="fa fa-check-square-o fa-lg chegaprala" ng-show="task.done"></i>
									{{task.item}}
									</div>
									</div>
									<div class="col-md-2 col-xm-2 text-right" ng-hide="asInvited">
									<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#renewTodo" ng-click="editTask($index, task)"><i class="fa fa-pencil  fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(task)" ng-confirm-click="Tem certeza de que deseja deletar este evento?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- Modal inserção -->
<div class="modal fade" id="newTodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/novo_todo.html'"></div>
</div>
<!-- Modal correção -->
<div class="modal fade" id="renewTodo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/edita_todo.html'"></div>
</div>
