
<div class="animated fadeIn" ng-init="starter()">
	<div class="row">
	<div class="col-md-4">
	<div class="row" style="margin-bottom: 1.5rem;">
	<div class="col-lg-6 col-col-sm-12">
	<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="casaGrana()">Adicionar Receita</button>
	</div>
	<div class="col-lg-6 col-col-sm-12">
	<button type="button" class="btn btn-danger btn-lg btn-block" ng-click="retiraGrana()">Adicionar Despesa</button>
	</div>
	</div>
	<div class="row">
			<div class="col-lg-12 col-col-sm-12">
			<div class="card">
			      <div class="card-block">
			        <div class="h1 text-muted text-right mb-2">
			          <i class="fa fa-plus-circle fa-lg"></i>
			        </div>
			        <div class="h1 mb-0 noazul" ng-class="{novermelho: valorTotal < 0}">Total: {{valorTotal | currency:"R$ "}}</div>
			        <small class="text-muted text-uppercase font-weight-bold">Total</small>
			        <div class="progress progress-white progress-xs mt-1">
			          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
			        </div>
			      </div>
			    </div>
			  </div><!--/.col-->		
	</div>
	<div class="row">
		  <div class="col-lg-12 col-sm-12">
		    <div class="card card-inverse card-primary">
		      <div class="card-block">
		        <div class="h1 text-muted text-right mb-2">
		          <i class="fa fa-plus-circle fa-lg"></i>
		        </div>
		        <div class="h1 mb-0">{{valorReceitas | currency:"R$ "}}</div>
		        <small class="text-muted text-uppercase font-weight-bold">Entrada de valores - Receita</small>
		        <div class="progress progress-white progress-xs mt-1">
		          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		        </div>
		      </div>
		    </div>
		  </div><!--/.col-->		
	</div>
	<div class="row">
		  <div class="col-lg-12 col-sm-12">
		    <div class="card card-inverse card-danger">
		      <div class="card-block">
		        <div class="h1 text-muted text-right mb-2">
		          <i class="fa fa-minus-circle fa-lg"></i>
		        </div>
		        <div class="h1 mb-0">{{valorDespesas | currency:"R$ "}}</div>
		        <small class="text-muted text-uppercase font-weight-bold">Saída de valores - Despesa</small>
		        <div class="progress progress-white progress-xs mt-1">
		          <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
		        </div>
		      </div>
		    </div>
			</div><!--/.col-->		
	</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<h4 class="card-header">Receitas</h4>
			<div class="card-block">		
			  <div class="card-body">
			    <h4 class="card-title">{{valorReceitas | currency:"R$ "}}</h4>
			    <hr>
			    <div class="card-text">
						<div class="list-group col-md-12">
							<div class="list-group-item" ng-repeat="budPlus in listCheck | filter: { lancado: 'receita' }">
								<div class="row">
									<div class="col-md-7 col-xm-10 newIt">
										<span><strong>{{budPlus.valor | currency:"R$ "}}</strong></span><br>
										<span ng-click="showTask($index, crew)">{{budPlus.descrip}}</span>
									</div>
									<div class="col-md-5 col-xm-2 text-right" ng-hide="asInvited">
									<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#editarlancamento" ng-click="editMoneyTask(budPlus)"><i class="fa fa-pencil fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(budPlus)" ng-confirm-click="Tem certeza de que deseja deletar esta receita?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
									</div>
								</div>
							</div>
						</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="card">
			<h4 class="card-header">Despesas</h4>
			<div class="card-block">		
			  <div class="card-body">
			    <h4 class="card-title">{{valorDespesas | currency:"R$ "}}</h4>
			    <hr>
			    <div class="card-text">
						<div class="list-group col-md-12">
							<div class="list-group-item" ng-repeat="budPlus in listCheck | filter: { lancado: 'despesa' }">
								<div class="row">
									<div class="col-md-7 col-xm-10 newIt">
										<span class="newIt"><strong>{{budPlus.valor | currency:"R$ "}}</strong></span><br>
										<span ng-click="showTask($index, crew)">{{budPlus.descrip}}</span>
									</div>
									<div class="col-md-5 col-xm-2 text-right" ng-hide="asInvited">
									<button type="button" class="btn btn-primary btn-circle" ng-click="editMoneyTask(budPlus)"><i class="fa fa-pencil fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(budPlus)" ng-confirm-click="Tem certeza de que deseja deletar esta despesa?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
									</div>
								</div>
							</div>
						</div>
			    </div>			    
			  </div>
			</div>
		</div>
	</div>
 </div>             
</div>
<!-- Modal inserção -->
<div class="modal fade" id="novolancamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/novo_lancamento.html'"></div>
</div>
<!-- Modal correção -->
<div class="modal fade" id="editarlancamento" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/editar_lancamento.html'"></div>
</div>