<div class="animated fadeIn" ng-init="starter()">
    <div class="row">
        <div class="container">
        <div class="row" style="margin-bottom: 10px; margin-left: 0;">	
            <div class="list-group col-md-11">
            <h3>Reuniões em {{globalEvtName}}</h3>
            </div>
            <div class="list-group col-md-1 text-right">
            <button type="button" ng-hide="asInvited" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#newMeeting" ng-click="showTaskPrompt()"><i class="fa fa-plus fa-lg"></i></button>
            </div>
        </div>
            <div class="card">
                <div class="card-body">
                    <div class="list-group col-md-12">
                        <div class="list-group-item" ng-repeat="task in listCheck">
								<div class="row">
                                        <div class="col-md-10 col-xm-10 newIt" ng-click="!asInvited && doneClicked($index, task)">
                                            <span class="newIt" ng-class="{complete: task.done == true}"><strong>{{task.dia}} às {{task.hora}}</strong></span><br>
                                            <span ng-class="{complete: task.done == true}">{{task.local}} &nbsp;</span>
                                        </div>
                                        <div class="col-md-2 col-xm-2 text-right" ng-hide="asInvited">
                                        <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#renewMeeting" ng-click="editTask($index, task)"><i class="fa fa-pencil fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(task)" ng-confirm-click="Tem certeza de que deseja deletar este compromisso?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal inserção -->
<div class="modal fade" id="newMeeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/insertmeeting.html'"></div>
</div>
<!-- Modal correção -->
<div class="modal fade" id="renewMeeting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/editmeeting.html'"></div>
</div>