<div class="animated fadeIn" ng-init="starter()">
		<div class="row">
			<div class="container">
			<div class="row" style="margin-bottom: 10px; margin-left: 0;">	
				<div class="list-group col-md-8">
				<h3>RSVP de {{globalEvtName}}</h3>
				</div>
				<div class="col-md-4 text-right">
				<button type="button" ng-hide="asInvited" class="btn btn-primary btn-small" data-toggle="modal" data-target="#importGuest">importar lista</i></button> &nbsp; | &nbsp; <button type="button" ng-hide="asInvited" class="btn btn-primary btn-small" data-toggle="modal" data-target="#newGuest" ng-click="showTaskPrompt()">adicionar convidado</button>
				</div>
			</div>
				<div class="card">
					<div class="card-body">
					<div class="row" style="margin-left: 10px; margin-right: 10px;">
						  <div class="col-sm-3 newIt">
						    <div class="callout callout-primary">
						      <small class="text-non-muted">Total de convidados</small><br>
						      <strong class="h4">{{totalize_me()}}</strong>
						    </div>
						  </div><!--/.col-->
						  <div class="col-sm-3">
						    <div class="callout callout-success">
						      <small class="text-non-muted">Total confirmados</small><br>
						      <strong class="h4">{{confirme_me()}}</strong>
						    </div>
						  </div><!--/.col-->
						  <div class="col-sm-3">
						    <div class="callout callout-danger">
						      <small class="text-non-muted">Confirmações pendentes</small><br>
						      <strong class="h4">{{differ_me()}}</strong>
						    </div>
						  </div><!--/.col-->
					</div>	
						<div class="list-group col-md-12">
							<div class="list-group-item" ng-repeat="task in listCheck">
								<div class="row">
									<div class="col-md-10 col-xm-10 newIt" ng-click="!asInvited && doneClicked(task)" ng-class="{confirmado: task.done == true}">
									<div>
									<i class="fa fa-square-o fa-lg chegaprala" ng-show="!task.done"></i>
            						<i class="fa fa-check-square-o fa-lg chegaprala" ng-show="task.done"></i>
									<b>{{task.nome}}</b>    |   Convites: {{task.convidados}} convites
									</div>
									</div>
									<div class="col-md-2 col-xm-2 text-right" ng-hide="asInvited">
									<button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#editGuest" ng-click="editTask(task)"><i class="fa fa-pencil  fa-lg"></i></button> | <button type="button" confirmed-click="removeMe(task)" ng-confirm-click="Tem certeza de que deseja deletar este evento?" class="btn btn-danger btn-circle"><i class="fa fa-times fa-lg"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<!-- Modal inserção -->
<div class="modal fade" id="newGuest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/new_guest.html'"></div>
</div>
<!-- Modal edição -->
<div class="modal fade" id="editGuest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/edit_guest.html'"></div>
</div>
<!-- Modal importação -->
<div class="modal fade" id="importGuest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div ng-include="'views/planner/modais/import_guest.html'"></div>
</div>